@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer loc 
@model IEnumerable<ControlWork9.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @loc["Name"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@loc["Details"]</a> 
            </td>
        </tr>
}
    </tbody>
</table>
